*{
    font-family: Inter;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    padding: 30px 25px;
    display:flex;
    width: 550px;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    left:0px;
    top: 0px;
    background-color: #21222A;
}

nav > img{
    height: 30px;
    margin-right: 7px;
}

.navbar-left-side{
    display: flex;
    color: #61DAFB;
    font-weight: bold;
    font-size: 22.25px;
}

.navbar-right-side{
    color: #DEEBF8;
    font-weight: 600;
    font-size: 16px;
}

.main{
    padding: 57px 27px;
    position: absolute;
    width: 550px;
    height: 459px;
    left: 0px;
    top: 91px;
    background: #282D35;
    color:white;
    background-image: url(./images/reactjs-icon-large.png);
    background-repeat: no-repeat;
    background-position: right;
}

.main > p{
    margin: 0;
    width: 424px;
    height: 41px;
    left: 27px;
    top: 148px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
}

.main > ul{
    margin-top:46px;
}

.main > ul > li{
    line-height: 19px;
    font-size: 16px;
    padding-block: 10px;
    max-width: 400px;
}

::marker{
    color:#61DAFB ;
    font-size: 1.4rem;
}
